:root{
    --main-bg-color:#303F9F;
    --second-bg-color:#0289d146;
    --vertical-pd:1.5rem;
    --txt-color:#FFFFFF;
    --second-cover-color:#0289d100;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 900;
    color: var(--txt-color);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: unset;
}
.container{
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}
@media (min-width : 768px) {
    .container{
        width:750px ;
        font-size: 24px;

    }
    .about-section .text p{
        text-align: center !important;
        
    }
    .about-section .text{
        padding: 0.75rem 15%;
    }
}
@media (min-width : 992px) {
    .container{
        width:970px ;
    }
}
@media (min-width : 1440px) {
    .container{
        width:1200px ;
    }
}
@media (min-width : 2560px) {
    .container{
        width:2000px ;
    }
}
.title-section{
    text-align: center;
    /* line-height: 1.5; */
    padding:var(--vertical-pd) 0.25rem;
}
.title-section h1{
background-color: var(--main-bg-color);
width: fit-content;
margin-left: auto;
margin-right: auto;
padding: 0.25rem 0.75rem;
}
.title-section p{
    color: #999;
}
body{
    font-family:'Roboto Condensed', sans-serif;
    font-weight: 300;
}
ul{
    list-style: none;
}
header{
    background-color: var(--main-bg-color);
    z-index: 100;
    position: relative;
    box-shadow: 0px 0 5px 0px #212121;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container nav a{
    word-spacing: -1;
    height: 40px;
    display: inline-block;
    padding: 10px 2;
    border-radius: 6px  6px 0 0;
}
header .container nav a:nth-child(2){
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
header .container nav a:hover{
    background-color: var(--second-bg-color);
    
}
header .container nav a.active{
    background-color: var(--second-bg-color);
}
.logo i{
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: double var(--txt-color) 2px;
}
.logo{
    display: inline-flex;
    align-items: center;

}
.logo span {
    padding-left: 4px;
}
.logo img {
    width: 63px;
    position: relative;
    left: -25%;
}
@media (max-width : 500px) {
    header .container {
        flex-flow: column wrap;
    }
    .logo{
        flex-flow: column wrap;
    }
    header .container nav a,.logo span{
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .about-section {
        
        background-size: contain;
    }
}

.about-section {
    position: relative;
    background-image: url('../me.jpg');
    /* /* width: 100%; */
    height: 93vh; 
    background-position: center;
    background-size: contain;
    background-color: #b69f80eb;
    background-repeat: no-repeat;
}
.about-section::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color:#0289d100;
}
.about-section .text{
    position: absolute;
    z-index: 12;
    top: 50%;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transform: translateY(-50%);
    padding: 0.75rem 15%;
}
.about-section .text h2{
    text-align: center;
    padding-left: 0.75rem;
}
.about-section .text  span{
    color: var(--main-bg-color);
    padding-left: 0.23rem;
}
.about-section .text p{
    text-align: left;
    
}
@media (max-width : 767px) {
    .about-section {
        background-size: contain;
    }
}
.projects-section ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: var(--vertical-pd);
}
.projects-section ul li{
    background-color: #999;

    padding: 0.25rem 0.65rem;
    text-align: center;
}
.projects-section ul li:hover{
    background-color: var(--main-bg-color);

}
.projects-section ul li.active{
    background-color: var(--main-bg-color);
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 1.5rem;
    padding-bottom: var(--vertical-pd);
}
.projects .project{
    text-align: center;
    position: relative;
}
.projects img{
    width: 90%;
    max-height: 100%;
}
.projects video{
    width: 90%;
}
footer {
    
    background-color: var(--main-bg-color);
}
footer .container{
    text-align: center;
    line-height: 1.7;
}
.visite{
    font-size: 24px;
    color: var(--main-bg-color);
    padding: 6px 30px;
    border: var(--main-bg-color) 1px solid;
    border-radius: 6px;
    position: absolute;
    font-weight: bold;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
}
footer .container article{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}